
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTweetAuthorLabel">Create or edit a Tweet Author</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tweetAuthor.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tweetAuthor.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_screenname">Screenname</label>
            <input type="text" class="form-control" name="screenname" id="field_screenname"
                    ng-model="vm.tweetAuthor.screenname"
                    required/>
            <div ng-show="editForm.screenname.$invalid">
                <p class="help-block"
                    ng-show="editForm.screenname.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.tweetAuthor.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdAt">Created At</label>
                <div class="input-group">
                    <input id="field_createdAt" type="text" class="form-control" name="createdAt" datetime-picker="{{dateformat}}" ng-model="vm.tweetAuthor.createdAt" is-open="vm.datePickerOpenStatus.createdAt"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.createdAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdAt.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createdAt.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_profileImageUrl">Profile Image Url</label>
            <input type="text" class="form-control" name="profileImageUrl" id="field_profileImageUrl"
                    ng-model="vm.tweetAuthor.profileImageUrl"
                    ng-maxlength="1024"/>
            <div ng-show="editForm.profileImageUrl.$invalid">
                <p class="help-block"
                    ng-show="editForm.profileImageUrl.$error.maxlength">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
